.DS_Store
# Ignore the generated attribute topic within the resources folder
resources/tc-attributes-a-to-z.dita
# Ignore test build directory
/build
# Ignore DITA-OT build scripts and folders
specification/temp/
specification/out/
specification/html.sh
specification/pdf.sh
